@{
    ViewBag.Title = "Trip Up";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Trip Up is all about the preparation ahead of taking a trip.  Whether it’s a solo day trip downtown, a weekend getaway with the whole family, or the coast-to-coast adventures that may take a week or two.
    <br />
    <br />
    With Trip Up, you can vacation while knowing everything is in its right place, whether that’s in your bag, or left back at your home, or in the right hands of a caretaker.
</p>
