@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Trip Up<br />
    Irvington, Indianapolis <br />
    <abbr title="Phone">P:</abbr>
    555.TRI-PUPS
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@tripup.com">Support@tripup.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@tripup.com">Marketing@tripup.com</a>
</address>