@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="col-md-12">
                    <img alt="logo" src="~/FinalLogo.jpg" />
                </div>
                <h2>
                    Take the stress out of travel prep!
                </h2>
                <p>
                    Trip Up is all about the preparation ahead of taking a trip.  Whether it’s a solo day trip downtown, a weekend getaway with the whole family, or the coast-to-coast adventures that may take a week or two.
                    <br />
                    <br />
                    With Trip Up, you can vacation while knowing everything is in its right place, whether that’s in your bag, or left back at your home, or in the right hands of a caretaker.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Getting Started</h2>
            <p>Detail your travel basics... where you're heading, who with, and what to see along the way.  Start your first Trip Up here:</p>
            <p><a class="btn btn-default" href="https://localhost:44367/Travel/Create">Prep A Trip &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Pick Up Where You Left Off</h2>
            <p>Pick up where you left off, by viewing all final and in progess trip's here:</p>
            <p></p>
            <p><a class="btn btn-default" href="https://localhost:44367/Travel">View Trips &raquo;</a></p>
        </div>
    </div>
</div>